mat-grid-tile {
  background-color: rgb(218, 216, 216);
  /* border: 1px solid black; */
}

mat-grid-tile:hover {
  background-color: whitesmoke;
  cursor: pointer;
}

.board {
  padding: 0%;
  min-width: 350px;
  min-height: 350px;
  border: 16px solid;
  border-bottom-color: rgb(68, 66, 66) !important;
  border-top-color: rgb(99, 99, 99);
  border-left-color: rgb(99, 99, 99);
  border-right-color: rgb(68, 66, 66);
}

.move {
  box-shadow: 0 0 5px 5px rgb(70, 69, 69) inset;
}
