.card {
  max-width: 500px;
  max-height: 500px;
}

.start-button {
  text-align: center;
}

.amber {
  background-color: #ffbf00;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
