mat-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card-title {
  font-size: 25pt;
}

.card {
  max-width: 500px;
  max-height: 500px;
}

.start-button {
  text-align: center;
  padding-top: 5%;
}

.tic-tac-toe {
  max-width: 350px;
  max-height: 350px;
}
