html,
body {
  background-color: black;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.w-100p {
  width: 100%;
}

.h-100p {
  height: 100%;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
